/* ======================
   CSS configuration file
   ====================== */

/* Boutons PRIMARY */
button[kind="primary"] {
    background-color: #FF5733 !important; /* couleur par défaut */
    color: #FFFFFF !important;
    border-radius: 8px !important;
    border: 2px solid #FF5733 !important;
    font-weight: bold;
}

/* Hover PRIMARY */
button[kind="primary"]:hover {
    background-color: #FF7855 !important;
    border-color: #FF7855 !important;
}

/* Boutons SECONDARY */
button[kind="secondary"] {
    background-color: #A237FF !important;
    color: #FFFFFF !important;
    border-radius: 8px !important;
    border: 2px solid #A237FF !important;
    font-weight: bold;
}

/* Hover SECONDARY */
button[kind="secondary"]:hover {
    background-color: #55B0FF !important;
    border-color: #55B0FF !important;
}

/* Boutons TERTIARY */
button[kind="tertiary"] {
    background-color: #6C33FF !important;
    color: #FFFFFF !important;
    border-radius: 8px !important;
    border: 2px solid #6C33FF !important;
    font-weight: bold;
}

/* Hover TERTIARY */
button[kind="tertiary"]:hover {
    background-color: #8555FF !important;
    border-color: #8555FF !important;
}
